@{
    ViewData["Title"] = "Confirm your email account";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for registration. 
    </p>
    <p>
        Please check your email inbox for a message from us that your account has been verified. This may take to 10 minutes, if you do not receive an email, please look for the message in your SPAM or Junk Mail folder. Thank you for your patience.
    </p>
</div>