@using Microsoft.AspNetCore.Identity
@using Aparts.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        <button type="submit" class="k-button">Log off</button>
    </form>
}
else
{
    <div id="loginForm">
        <a asp-area="" asp-controller="Account" asp-action="Register" class="k-button">Register</a>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="k-button">Log in</a>
    </div>
}