@model Aparts.Models.StoreViewModels.StorePageOptions
@{
    ViewData["Title"] = "Store";
}

<h1>Store</h1>

<div id="grid" class="no-scrollbar"></div>
@section scripts
{
	<script> 
        window.apartApp = window.apartApp || {}
        window.apartApp.visibleStores = @Html.Raw(Model.VisibleStoresAsJsArray);
    </script>
    <script src="~/js/store.js"></script>
}