@model UserRolesModel[]
@{
    ViewData["Title"] = "Manage envirounment";
}
<h2>@ViewData["Title"].</h2>
@Html.AntiForgeryToken()

<div id="tabstrip" style="display: none;">
	<ul>
		<li>Users</li>
		<li>Stores</li>
	</ul>
	<div>
		<div id="gridUsers"></div>
	</div>
	<div>
		<div id="gridStores"></div>
	</div>
</div>

<div style="margin-top: 10px;">
	<button id="ImportData">Import</button>
</div>

<div id="dialog"></div>

@section scripts
{
    <script src="~/js/Admin.js"></script>
}
