@model Aparts.Models.AdminViewModelas.AdminPageOptions
@{
	ViewData["Title"] = "Manage envirounment";
}
<h2>@ViewData["Title"].</h2>
@Html.AntiForgeryToken()

<div id="tabstrip" style="display: none;">
	<ul>
		<li>Users</li>
		<li>Stores</li>
	</ul>
	<div>
		<div id="gridUsers"></div>
	</div>
	<div>
		<div id="gridStores"></div>
	</div>
</div>

@if (Model.AllowImport)
{
	<div style="margin-top: 10px;">
		<button id="ImportData">Import</button>
	</div>
}

@section scripts
{
<script src="~/js/admin.js"></script>
}
